
html {
  scroll-behavior: smooth;
}


header {
    
    
     background-image: url('https://images.theconversation.com/files/344201/original/file-20200626-33533-13frdsm.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop');
   
}

#cont {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  
  .image {
    width: auto;
    height: auto;
  }
  

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.9rem;
    right: 0;
    height: auto;
    width: 89%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(27, 14, 14);
  }
  
 
  #cont:hover .overlay {
    opacity: 1;
  }
  

  .icon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
 
  .fa-user:hover {
    color: #eee;
  }